# קבצי מערכת של Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# תיקיות ביניים
bin/
obj/

# קבצי NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# קבצי מערכת של Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# קבצי Build
*.log

# קבצי Debug
*.pdb

# קבצי VS Code
.vscode/

# קבצי Designer זמניים
*.vsidx
*.db-shm
*.db-wal
*.db

# קבצי JSON זמניים
*Layout*.json
